/* Normalize things */
body, html {
    font-family: Arial, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    height: 100% !important;
    box-sizing: border-box;
}

/* left container pane */
#theorem-pane {
    background-color: #7DD4B4;
    height: 100%;
    width: 30%;
    float: left;
}

/* right container pane */
#builder-pane {
    background-color: #3BB0A2;
    height: 100%;
    width: 70%;
    float: right;
}

/* theorem tabs and their corresponding divs */
#theorem-tabs button {
    width:50%;
    height:30px;
    outline: none;
    border: none;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    background: #ffffff;
}

#theorem-tabs button:hover {
    background: #dddddd;
    cursor: pointer;
}

#theorem-tabs button:first-child {
    float:left;
}

#theorem-tabs button:last-child {
    float:right;
}

.theorem-content {
    height:90%;
    overflow-y:scroll;
    overflow-x:hidden;
}

/* theorem list elements */
.theorem-li {
    padding: 10px 5px;
    display:block;
    width:100%;
    background:yellow;
    border-bottom:1px solid black;
    cursor: pointer;
}

.theorem-li:hover {
    background: #CCCC00;
}


#sel-thm {
    background: red;
}

/* header for the builder pane */
#builder-header {
    background: white;
    height: 15%;
    width: 100%;
}

#builder-header > div {
    width: 50%;
    height: 100%;
}

#builder-header h3 {
    color: #dddddd;
    margin: 10px 0 0 10px;
    font-weight: bold;
}

#builder-header #givens {
    background:#33839E;
    float: left;
}

#builder-header #given-content {
    padding: 10px;
}

#builder-header #results {
    background: #256074;
    float: right;
}

#builder-header #results-content {
    padding: 10px;
}

canvas {
    position: fixed;
}

#proof-bench {
    background: #33839E;
    position:absolute;
    display:block;
    bottom: 0;
    width:inherit;
    height:45%;

    cursor: pointer;
}

#curr-steps {
    height:100%;
    width: 100%;

    overflow-y: scroll;
    overflow-x: hidden;
}

.step-li {
    width: 100%;
    padding: 10px 0;
    padding-left: 10px;
    background: #256074;
    border-bottom: 1px solid black;
}

button#save {
    padding:0;
    margin:0;
    border:0;
    outline:0;
    width:50%;
    height: 100%;
}
